<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Meet</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container"><h1>Meeting Schedule</h1>
    <form action="/add-person" method="POST" id="peopleForm">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="city">City</label>
        <select id="city" name="city">
          <% if (cities.length > 0) { %>
            <% cities.forEach(function(city) { %>
              <option value="<%= city %>"><%= city %></option>
            <% }); %>
          <% } else { %>
            <option value="">No cities available</option>
          <% } %>
        </select>

        <label for="startTime">Preferred Start Time:</label>
        <input type="datetime-local" id="startTime" name="startTime" required>
        <label for="endTime">Preferred End Time:</label>
        <input type="datetime-local" id="endTime" name="endTime" required>
        <button type="submit">Add Person</button>
    </form>
    <button type="button" id="resetButton">Reset Table</button>
    
    <h2>People's Data</h2>
    <table id="peopleTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Preferred Start Time</th>
                <th>Preferred End Time</th>
                <th>Action</th>
            </tr>
        </thead>
      <% if (peopleData.length > 0) { %>
      <% peopleData.forEach(person => { %>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.city %></td>
          <td><%= new Date(person.startTime).toLocaleString() %></td>
          <td><%= new Date(person.endTime).toLocaleString() %></td>
          <td><button type="button">Remove</button></td>
        </tr>
      <% })} %>
    </table>
    <script src="script.js"></script>
</body>
</html>
